body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.full-width{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.peter{
    color: orange;
}
.button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
    color: white;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}
.top-container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.right-image{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}
.experience{
    display: flex;
    

}
.web-developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px black;
    padding-left: 20px;
    
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(6, 163, 6), tomato);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: rgb(58, 58, 58);
    font-weight: 700;
}